body, html {
    margin: 0;
    padding: 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
                    AppleGothic, sans-serif;
}

.todo-category-red {
    color: red;
    /* background-color: red; */
}

.todo-category-orange {
    color: orange;
    /* background-color: orange; */
}

.todo-category-yellow {
    color: yellow;
    /* background-color: yellow; */
}

.todo-category-green {
    color: green;
    /* background-color: green; */
}

.todo-category-blue {
    color: blue;
    /* background-color: blue; */
}

.todo-category-indigo {
    color: indigo;
    /* background-color: indigo; */
}

.todo-category-violet {
    color: violet;
    /* background-color: violet; */
}

.todo-item-complete {
    color: grey;
    text-decoration: line-through;
    font-weight: lighter;
}

.todo-item-text {

}

.todo-item-text-complete {

}
