/*
    main-color: rbg(80, 80, 180)
    
*/

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
                    AppleGothic, sans-serif;
    font-size: 16px;
}

h1 {
    margin: 0;
    text-align: center;
}

header {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    padding: 20px 0 0px;
    height: 80px;
    background-color: rgb(80, 80, 180);
    color: white;
}

.hamburger-container {
    position: absolute;
    top: 40px;
}

.todo-category-button {
    display: block;

    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1.2em;
    text-align: left;
    color: white;
}

.todo-list {

}

.todo-list-hidden {
    display: none;
}

#todo-categories {
    left: -200px;
    width: 200px;
    position: absolute;
    height: 100%;
    /* background-color: #0F96FC; */
    background-color: rgb(80, 80, 180);

    transition: left 0.5s ease-in;
}

.todo-category-button:hover {
    text-decoration: underline;
}

.todo-category-button-current {
    font-weight: bold;
}

.todo-categories-open {
    transition-property: left 0.5s ease-out;

    left: 0px !important;
}

.todo-category-grey {
    color: grey;
}

.todo-category-red {
    color: red;
}

.todo-category-orange {
    color: orange;
}

.todo-category-yellow {
    color: yellow;
}

.todo-category-green {
    color: green;
}

.todo-category-blue {
    color: blue;
}

.todo-category-indigo {
    color: indigo;
}

.todo-category-violet {
    color: violet;
}

.todo-item-complete {
    color: grey;
    text-decoration: line-through;
    font-weight: lighter;
}

.todo-item-text {

}

.todo-item-text-complete {

}

#hamburger {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 2em;
    display: block;
    /* margin: 0 auto; */
}

@media screen and (max-width: 500px) {
    
}

@media screen and (min-width: 500px) and  (max-width: 1200px) {
    
}

@media screen and (min-width: 1200px) {
    
}
